

.btn1{

float: right;

}

.btn2{

float: right;

}

.btn3{

float: right;

}

.copy_class{

    width:800px;
    margin:0 auto;
    padding:20px;

}


.all{

margin-top: 80px;
margin-right: 80px;
margin-bottom: 80px;
margin-left: 80px;


}

.but1{

float: right;

}

.but2{

float: right;

}

.but3{

float: right;

}
